{{#extend "layout"}}

    {{#content "main" mode="append"}}
        <div class="container">
            <br>
            {{#if user}}
                <div class="row">
                    {{#each articles}}
                        <div class="col-md-4 card" data-id="{{ this.id }}">
                            <div class="img" style="background-image:url({{ this.image }});"></div>
                            <p class="lead">{{this.title}}</p>
                            {{ this.thumbs.up }}
                            <div class="btn-group btn-group-sm thumbs-box" role="group">
                                <button class="btn btn-success" data-thumbs="up">
                                    <i class="fa fa-thumbs-o-up"></i>
                                    <span>(0)</span>
                                </button>
                                <button class="btn btn-danger" data-thumbs="down">
                                    <i class="fa fa-thumbs-o-down"></i>
                                    <span>(0)</span>
                                </button>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{ else }}

                <div class="jumbotron">
                    <h2 class="display-3">Wlyda</h2>
                    <p class="lead">You have to be logged in to view articles</p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-primary" href="#" data-toggle="modal"
                           data-target="#register-modal">Register</a>
                    </p>
                </div>

            {{/if}}
        </div>
    {{/content}}

{{/extend}}