{{#extend "layout"}}

    {{#content "main" mode="append"}}
        <div class="container">
            {{#if user}}
                <div class="row">
                    {{#each articles}}
                        <div class="col-md-4 card" data-id="{{ this.id }}">
                            <div class="img" style="background-image:url({{ this.image }});"></div>
                            <p class="lead">{{this.title}}</p>
                            {{ this.thumbs.up }}
                            <div class="btn-group btn-group-sm like-box" role="group">
                                <button class="btn btn-success" data-like="up"
                                        {{#if this.likes.user.up}}disabled{{/if}}>
                                    <span>{{ this.likes.up }}</span>
                                    <i class="fa fa-thumbs-o-up"></i>
                                </button>
                                <button class="btn btn-danger" data-like="down"
                                        {{#if this.likes.user.down}}disabled{{/if}}>
                                    <span>{{ this.likes.down }}</span>
                                    <i class="fa fa-thumbs-o-down"></i>
                                </button>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{ else }}

                <div class="jumbotron">
                    <h2 class="display-3">Wlyda</h2>
                    <p class="lead">You have to be logged in to view articles</p>
                    <hr class="my-4">
                    <div class="btn-group" role="group">
                        <a class="btn btn-secondary" href="#" data-toggle="modal"
                           data-target="#login-modal">Login {{user.name}}</a>
                        <a class="btn btn-primary" href="#" data-toggle="modal"
                           data-target="#register-modal">Register</a>
                    </div>
                </div>

            {{/if}}
        </div>
    {{/content}}

{{/extend}}